*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    height: auto;
    
}
.main-portfolio{
    background-image: url('photo-1519681393784-d120267933ba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 630px;
}
.welcome{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.welcome h1{		
    background-color: #ececec;
    color: #1e1e1e;
    padding: 0 .5rem 0 .5rem;
    font-size: 3em;
    animation: ht1 .7s 3 both;
}
.welcome h3{		
    background-color: #ececec;
    color: #1e1e1e;
    padding: 0 .5rem 0 .5rem;
    animation: ht1 .7s 3 both;
}
.box{
    background-color: #ececec;
    width: 100%;
    height: 10px;
}
.welcome button{
    background: transparent;
    line-height: 3.2;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0  1rem 0 1rem;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    outline: none;
    margin-top: 2rem;
    animation: reveal 2s both;
}
.welcome a{
    background: transparent;
    line-height: 3.2;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0  1rem 0 1rem;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    outline: none;
    margin-top: 2rem;
    animation: reveal 2s both;
}
.welcome button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1e1e1e;
    transition: .7s;
}
#bx1.box{
    animation: bx1 2.1s both reverse;
}
#bx2.box{
    animation: bx2 2.1s both reverse;
}
@keyframes reveal {
    from{
        width: 30%;
    }
    to{
        width: 100%;
    }
}
@keyframes ht1 {
    25%{
        background-color: #ececec;
        color: #1e1e1e;
    }
    50%{
        background: transparent;
        color: #fff;
    }
    75%{
        background-color: #ececec;
        color: #1e1e1e;
    }
    100%{
        background: transparent;
        color: #fff;
    }
}
@keyframes bx1 {
    100%{
        width: 0;
    }
}
@keyframes bx2 {
    100%{
        width: 0;
    }
}
.main-info{
    display: flex;
    color: #fff;
    background: url('./profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 630px;
    width: 100%;
}
.info{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20%;
}
.info .box-info .dtl-info .dtl-list{
    list-style-type: none;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.box-info .bg-card{
    border: 1px solid #fff;
    width: 185px;
    height: 200px;
}
.dtl-item{
    padding: 5px;
}
.quotes{
    margin-left: auto;
    margin-top: auto;
}
.q-text{
    width: 80%;
    margin-left: auto;
    text-align: right;
}